body {
  padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.radial-color {
  background-image: radial-gradient(
    ellipse,
    white 50%,
    #A0DFFA 155%
  );
}

.satinweave {
  background-image: /* satinweave.png */ url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAMCAMAAABP7o1HAAAACVBMVEXx8fHv7+/y8vLz1QQmAAAAO0lEQVR42nWPAQoAIAgD1f8/OqlDiMPBYKk7KFoZ9fmpGOQc3FmLh5oEN80nm082H5uPzcfi01x/vi4OcRwAu6bHHywAAAAASUVORK5CYII=');
  background-color: #e6e6e6;
}

.tagline {
  text-shadow: 0 0 10px #000;
  color: #fff;
}

.img-center {
  display: block;
  margin: 0 auto;
}

div.carousel-inner div.item {
  overflow-x: hidden;
}

div.carousel-inner div.item img {
  width: auto;
  min-width: 100%;
  min-height: 300px;
  max-height: 45vh;
  max-width: none;

  vertical-align: middle; /* remove the vertical gap under inline level elements */

  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);  
}

a.navbar-brand img {
  width: 125px;
  height: auto;
  margin-top: -7px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 10px;
}


/* 404 page
-------------------------------------------------- */

.page-404{
  position:relative;
  width:350px;
  height:200px;    
  margin:100px auto;
  text-align: center;
}

.text-404{    
  font-size:138px;
  background:#e9e3dd;
  background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQTdWeWNteABnbzguiXSBxmfc8Z8nh_HHoWoK35QL81x4HnpVmgvQ');
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: 100% 100%;
  -webkit-animation: square 3s linear infinite;
  -ms-animation: square 3s linear infinite;
  animation: square 3s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color:transparent;  
  text-align:center;
  line-height:200px;
  position:relative;
}

.text-404:nth-of-type(2){
  text-shadow:none;
  z-index:2;
  position:absolute;
  top:-139px;
  left:-1px;
}

@-webkit-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@-ms-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}