---
layout: page
title: Published Papers by Associates
titlesize: 2
showinnav: true
permalink: /papers/
scripts: [fuse.min.js, search.js]
styles: searchbar.css
navposition: 2
---

<script>
    var search = {
        searchTextBox: "#search-projects",
        searchList: "#papers"
    }
</script>

<div class="row">
    <div class="search-form">
        <div class="form-group has-feedback">
            <i class="fa fa-search form-control-feedback"></i>
            <input type="text" class="form-control" maxlength="32" name="search" id="search-projects" placeholder="Search">
        </div>
    </div>
</div>

<div class="row">
    <ul id="papers">
        {% for collection in site.collections %}
            {% if collection.label == "papers" %}
                {% assign sorted_files = collection.files | sort: "basename" %}
                {% for file in sorted_files %}
                    <li><a href="{{ site.baseurl }}/{{ file.path | split: '/_' }}" target="_blank">{{ file.basename | normalize_whitespace }}</a></li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
</div>