---
layout: container
title: Personnel and Associates
showinnav: true
permalink: /personnel/
---
<div class="page-header">
    <h1>Personnel and Independent Associates</h1>
</div>

<div class="row">
    <ul class="media-list">
        {% for member in site.data.members %}
        <li class="media col-lg-5 col-md-6">
            <div class="media-left media-middle">
                {% if member.link %}<a href="{{ member.link }}" target="_blank">{% endif %}
                    <img style="max-width: none;" class="media-object img-responsive img-thumbnail" src="{% if member.image %}{{ site.baseurl }}/img/members/{{ member.image }}{% else %}http://placehold.it/150x150{% endif %}" alt="{{ member.name }}">
                {% if member.link %}</a>{% endif %}
            </div>
            <div class="media-body">
                <h2 class="media-heading">{{ member.name }}</h2>
                {% if member.title %}<h5><i>{{ member.title }}</i></h5>{% endif %}
                {% if member.about %}
                    <h4>About</h4>
                    {{ member.about | markdownify | smartify }}
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>