<!-- Image Background Page Header -->
<!-- Note: The background image is set within the main.css file. -->
<header class="business-header">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval=5000 data-pause="hover">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li> 
    <!-- Add more of these to add more images -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ site.baseurl }}/img/carousel/TruckWithMineralsNew.png" alt="Truck with minerals">
      <div class="carousel-caption">
          Spence
      </div>
    </div>
    <div class="item">
      <img src="{{ site.baseurl }}/img/carousel/jinshan.png" alt="Trucks in Jinshan">
      <div class="carousel-caption">
          Jinshan
      </div>
    </div>
    <div class="item">
      <img src="{{ site.baseurl }}/img/carousel/truck.png" alt="Truck at Olympic Dam">
      <div class="carousel-caption">
          Olympic Dam
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</header>